<h1 style="color: blue;">{{title}}</h1>

<div class="employee-contanier">
    <!-- Interpolation using {{}} directive-->
    <p><strong>Emp Id :{{employeeId}} -Name :{{employeeName}} -Age :{{employeeAge}}</strong></p>
 
    <!--Boolean with *ngIf structural dercitive-->
    <p *ngIf="isManager">Manager Status:Yes</p>
    <p *ngIf="!isManager">Manager Status:No</p>

    <h3>Skills:</h3>
    <ul>
        <li *ngFor="let s of skills">{{s}}</li>
    </ul>
    
    <!--Enum Intepolation-->
    <p>Position :{{Position}}</p>

    <!--onject Interpolation-->
    <h3>Address</h3>
    <p>{{address.street}},{{address.city}}-{{address.poatalCode}}</p>

    <!--Any data Type Interpolation-->
    <p>Extra Info :{{extraInfo}}</p>

    <!--Event binding-->
    <h2>Event Binding</h2>
    <button (click)="hello()">Click Me</button> &nbsp; &nbsp;
    <button (click)="clear()">Cancle</button>&nbsp; &nbsp;
    <button (click)="toogleManagerStatus()">toogle Manager</button>
    <p>{{message}}</p>

    <p>Score Count:{{5+5}}</p>
    <!--Event Binding to function with return value-->
    <p>Today Date : {{convertToDate()}}</p>
    <p>The additional of 10 &200 is:{{add()}}</p>

    <!--property binding -one way-->
    <div style="background-color: yellow;">
        <h2 [innerHTML]="info"></h2>
        <input type="text" [value] ="username" width="20px">
        <button (click)="updateUserName()">Upadate user</button>

    </div>

    <!--Two Way data binding using[(ngModel)] directive-->
    <div>
        <h2>Two -Way data binding</h2>
        <label for="Position">Position :</label>
        <input type="text" [(ngModel)]="employeePosition" id="Position">
        <p>Update Position :{{employeePosition}}</p>
    </div>

</div>