<div class="mycontainer">
  <header class="header">
    <img src="/image/Angular2.png" alt="img">
    <h1>Coforge Technologies</h1>
  </header>

  <nav class="mynav">
    <ul>
      <li><a routerLink="/"> Home</a></li>
      <li><a routerLink="/emp">Data Binding</a></li>
      <li><a routerLink="/pipe">Pipes</a></li>
      <li><a routerLink="/about">About us</a></li>
      <li><a routerLink="/log">Login</a></li>
      <li class="dropdown">
      <span>Forms</span>
      <ul class="dropdown-menu">
        <li><a routerLink="/contact">Template form</a></li>
        <li><a routerLink="/traniee">Two way Data Binding</a></li>
        <li><a routerLink="/auth">Rective forms</a></li>
      </ul>
    </li>
    <li><a routerLink="/team">Team</a></li>
    <li><a routerLink="/parent">Communication</a></li>
    
    </ul>
  </nav>
  <main class="main-content">
   <router-outlet></router-outlet>
  </main>
  <footer class="myfooter">
    <p>&copy;2024 Coforge Ltd.</p>
  </footer>

</div>